header{
    display: flex;
    background: orange;
    align-items: center;
    height: 100px;

}

header img{
    margin-left: 20px;
    height: 80%;
    
}
 header p {
     font-size: 50px;
     margin-left: 50px;
     color:whitesmoke;
 }